@charset "UTF-8";
body{
    background-color: black;
    color: gold;
}
div{
    background-color: red;
    width: 49%;
    display: inline-block;
    
   
}
.teste{
    background-color: orange;
    width: 49%;
    color: black;
    box-shadow: 5px 5px 5px rgba(107, 70, 0, 0.616);
    border-radius: 10px;
}